# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Django (db.sqlite3 commented for development convenience)
.env
#db.sqlite3
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
